<!DOCTYPE html>
<html>

<head>
  <title>Bulls and Cows</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="ingame-main">
    <div class="header">
      <a href="/" class="button">Logout</a>
      <h1>Bulls & Cows</h1>
      <a href="/leaderboard" class="button">View History</a>
    </div>

    <div class="game-card">
      <table>
        <thead>
          <tr>
            <th>Your Guesses</th>
            <th>Bulls</th>
            <th>Cows</th>
          </tr>
        </thead>
        <tbody>
          <!-- Display user guess history here -->
          <tr>
            <td>1234</td>
            <td>2</td>
            <td>1</td>
          </tr>
          <!-- Add more rows for additional guesses -->
        </tbody>
      </table>
    </div>

    <div class="gameplay">
      <div class="guess-box">
        <input type="text" id="userGuess" placeholder="User Input">
      </div>
      <div>
        <button class="submit">Submit</button>
        <button class="clear" onclick="clearInput()">Clear</button>
      </div>
    </div>
  </div>
  <!-- Update later -->
  <script> 
    function clearInput() {
      document.getElementById("userGuess").value = "";
    }
  </script>
</body>

</html>