

<!DOCTYPE html>
<html>

<head>
  <title>Bulls and Cows</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="ingame-main">
    <div class="header">
      <a href="/logout" class="button">Logout</a>
      <h1>Bulls & Cows</h1>
      <a href="/leaderboard" class="button">View History</a>
    </div>

    <div class="game-card">
    <div style="max-height: 50vh; overflow-y: scroll;">
      <table id="guess-history">
        <thead>
          <tr>
            <th>Your Guesses</th>
            <th>Bulls</th>
            <th>Cows</th>
          </tr>
        </thead>
        <tbody>
            <!-- Display user guess history here -->
            {% for guess in user_guesses %}
            <tr>
            <td>{{ guess.guess }}</td>
            <td>{{ guess.bullsCount }}</td>
            <td>{{ guess.cowsCount }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      </div>
    </div>

    <div class="gameplay">
      <div class="guess-box">
        <input type="text" id="userGuess" placeholder="User Input">
      </div>
      <div>
        <button class="submit" onclick="submitGuess()">Submit</button>
        <button class="clear" onclick="clearInput()">Clear</button>
      </div>
    </div>
  </div>
  <!-- Update later -->
  <script> 
    function clearInput() {
      document.getElementById("userGuess").value = "";
    }

  function submitGuess() {
    console.log("Submit button clicked");
    var userGuess = document.getElementById("userGuess").value;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/submit_guess", true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        var response = JSON.parse(xhr.responseText);
        alert(response.message); // Display the response message
        if (response.message !== "Game is already won. You cannot submit more guesses.") {
          // Update the guess history table
          var guessHistoryTable = document.getElementById("guess-history").getElementsByTagName('tbody')[0];
          var newRow = guessHistoryTable.insertRow();
          newRow.innerHTML = "<td>" + userGuess + "</td><td>" + response.bulls + "</td><td>" + response.cows + "</td>";
        }
        if (response.message === "Congratulations! You guessed the correct number.") {
          window.location.href = "/leaderboard"; // Redirect to leaderboard page if game is won
        }
      }
    };
    xhr.send("user_guess=" + userGuess);
    console.log("Sending XMLHttpRequest");
  }


  </script>
</body>

</html>