
<!DOCTYPE html>
<html>

<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="ingame-main">
        <h1 class="title">Your Leaderboard</h1>

        <div class="card">
            <ul>
                <!-- List of attempts goes here -->
                {% for game in past_games %}
                    <li>Game {{ game.id }}: {{ game.guesses|length }} attempts</li>
                {% endfor %}
                <!-- <li>Day 10: 6 attempts</li>
                <li>Day 2: 8 attempts</li>
                <li>Day 5: 10 attempts</li> -->
                <!-- Add more attempts as needed -->
            </ul>
        </div>
      <div>
        <a href="/game" class="back-button">Go Back to Game</a>
      </div>
    </div>
</body>

</html>
