<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="main">
    <h1>Bulls & Cows</h1>
    <form action="">
      <input type="text"
        id="first"
        name="first"
        placeholder="Enter Username" required>

      <input type="password"
        id="password"
        name="password"
        placeholder="Enter Password" required>

      <div class="wrap">
        <a href="/game" class="login-button">Signup</a>
      </div>
    </form>
    <p>Already have an account? 
      <a href="/"
      style="text-decoration: none;">
        Login to your account!
      </a>
    </p>
  </div>

</body>

</html>
