
<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="main" style="overflow-y: auto; max-height: 90vh ;">
			<h2>Welcome to Bulls and Cows!</h2>
			<div>
				<h3>Gameplay:</h3>
				You are required to make a guess by entering a 4-digit number.
				Feedback on the guess is then provided in the form of "bulls" and "cows".<br>
				<h3>Bulls and Cows:</h3>
				A "bull" represents a correct digit guessed in the correct position.<br>
				A "cow" represents a correct digit guessed in the wrong position.<br>
				For example, if the secret number is "1234" and the guess is "1752":
				There is 1 "bull" (the digit "1" in the first position).
				There is 1 "cow" (the digit "2" in the third position).<br>
				Win by guessing the entire secret number (4 bulls).
				<br>
			</div>
			<div class="wrap">
			<button type="button" class="login-button" onclick="window.location.href='/game'">Play Game</button>
			</div>
			<div class="wrap">
			<button type="button" class="login-button" onclick="window.location.href='/leaderboard'">History</button>
			</div>
	</div>
</body>
</html>
